.backgroundModal{
    width: 100vw;
    height: 100vh; 
    background-color: rgb(0, 0, 0, 0.5);
    position: fixed; 
    display: flex;
    justify-content: center;
    align-items: center; 
}

.modal {
    background-color: white;
    display: flex;
    flex-direction: column;
    width: 500px;
    /* border: 1px solid black; */
    border-radius: 8px;
    padding: 15px;
    margin: 50px;
}

.header {
    display: flex;
    justify-content: space-between;
}

.header button {
    padding: 2px 10px;
    border: none;
    background-color: transparent;
    cursor: pointer;
    color: blue;
}

.body {
    display: flex;
    flex-direction: column;
}

.body div {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgb(33, 109, 201);
}

.footer {
    display: flex;
    padding: 15px;
    justify-content: right;
}

.footer .cancel {
    margin-right: 15px;
    padding: 10px 25px;
    background-color: transparent;
}

.footer .save {
    padding: 10px 25px;
    background-color: rgb(33, 109, 201);
    color: white;
}